# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/

# Builds
[Bb]uild/
[Bb]uilds/

# IDE
.vs/
.vscode/
.idea/

# Generated project files
*.csproj
*.sln
*.slnx
*.user
*.userprefs
*.pidb
*.booproj

# OS
.DS_Store
Thumbs.db

.vsconfig
ignore.conf